extends layout
block content
  each article in articles
    article
      header
        h1= article.headline
        h2= article.alternativeHeadline
        if article.dateline
          img.icon(src='./img/earth.svg', alt='')
          span.metadata= `${article.dateline}`
        img.icon(src='./img/calendar.svg', alt='')
        time.metadata(datetime=article.datePublished)= `${new Intl.DateTimeFormat(`${locale}`, {year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'}).format(new Date(article.datePublished))}`
        if article.author
          img.icon(src='./img/author.svg', alt='')
          span.metadata= `${article.author.name}`
      section
        figure(lazyload)
          picture
            each image in article.image.sort((a, b) => b.width - a.width)
              source(srcset='./img/placeholder.svg', data-srcset=image.url, media=`(min-width: ${image.width}px)`)
            - const smallestImage = article.image.sort((a, b) => a.width - b.width)[0]
            img(src='./img/placeholder.svg', data-src=smallestImage.url, alt=smallestImage.caption, decoding='async')
          figcaption= article.image[0].caption
        details
          summary!= article.description
          section!= article.articleBody