doctype html
html(lang=locale)
  include includes/head.pug
  body
    if publisher
        header
          a(href=`./${home}`)
            h1
              img(src=publisher.logo.url, width=publisher.logo.width, height=publisher.logo.height, alt=publisher.name, decoding='async')
    main
      block content
    block footer
      footer News Progressive Web App
