doctype html
html(lang=locale)
  include includes/head.pug
  body
    if publisher
        header
          a(href=`/${home}`)
            h1
              img(src=publisher.logo.url, style=`max-width:${publisher.logo.width}px; max-height:${publisher.logo.height}px; height:calc(var(--main-current-width)/(${publisher.logo.width/publisher.logo.height}))`, alt=publisher.name, decoding='async')
    main
      block content
    block footer
      footer News Progressive Web App
